{% extends "layout.html" %}

{% block content %}
<html lang="ja">
<head>
<meta charset="utf-8">
<title>おいしく朝ごはんを食べれる日数</title>
</head>
<h1>おいしく朝ごはんを食べれる日数</h1><br><br>
<body>
<form action="#" method="post">
	<p>年齢を入力してください：<br>
	<input type="text" name="toshi"></p><br>
	<p><input type="submit" value="決定"></p>
	<p>input type="reset" value="クリア"</p>
</form>
</body>
</html>
{% endblock %}
